html, body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}


.header{
    position: sticky;
    top:0;
    background-color: #f1f1f1;
    padding: 0px 20px;
    padding-top: 10px;
    text-align: left;
    min-height: 80px;
}

.hidden { display: none; }

  /* nav bar*/
.nav-bar {
    text-align: left;
    padding-left: 20px;
    white-space: nowrap;
    overflow: auto;
    background-color: #ffcd00;
    margin-bottom: 10px;
  }
  
  .nav-bar a {
    display: inline-block;
    padding: 10px;
    margin: 0;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-bar a:hover {
    background-color: #e6b800; /* Darker yellow on hover */
    color: #ffffff; /* Change text color to white on hover */
  }


.main-content{
    padding: 20px;
    min-height: 70%;
    flex: 1;
    background-color: #ffffff;
}

button{
    background-color: #C00A35; /* uu red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    height: 60px;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
}